//
$font-stack: Arial, Helvetica, sans-serif;
$font-stack-logo: 'AlisandraDemo', sans-serif;
$font-stack-hero: Arial, Helvetica, sans-serif;
$primaryColor: #F1F1F1;


@font-face {
  font-family: AlisandraDemo;
  src: url('../fonts/AlisandraDemo.ttf');
}



/* === GENERAL === */

body {
  font-family: $font-stack;
  // -webkit-background: linear-gradient(to top, #837A7b, #e6dfd9);
  background: radial-gradient(#e6dfd9 1%, #837A7b 99%);
  // background: linear-gradient(to top, #2b2a30, #e6dfd9);
  background-size: cover;
  padding: 0;
  margin: 0;
  color: $primaryColor;
  // overflow-x: hidden;
}

#myNavbar{
  background: transparent;
  li {
    padding: 5px 10px;
    a {
      color: white;
    }
    &.active{
      background-color: #fb5255;
    }
  }
  .social{
    a{
      // background-color: black;
      font-size: 17px;
      margin-right: 10px;
      color: white;
    }
  }
}

#logo-name{
  font-family: $font-stack-logo;
  font-size: 61px;
  text-align: center;
  margin: 30px 0 60px;
}

.btn-primary{
  background-color: #fb5255;
  border-radius: 0;
  border-color: #fb5255;
  width: 125px;
  &:hover,&:active,&:focus{
    border-color: #47434C;
    background-color: #fb5255;
    -webkit-box-shadow: inset 0px 0px 71px -11px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 71px -11px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 71px -11px rgba(0,0,0,1);
  }
}


section.main-wrapper{
  // background: linear-gradient(to top, #2b2a30 10%, transparent);
  background: url("../img/notebook.jpg");
  background-size: 100%;
  position: relative;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  // height: 100%;

  &:after{
    position: absolute;
    z-index: -10;
    content: "";
    bottom: 0;
    width: 100%;
    margin-top: -200px;
    min-height: 500px;
    background: linear-gradient(to top, #454347, #343235);
  }
}


#wrapper{
  padding: 0;
  position: relative;
  background: linear-gradient(to top, #c1c1c1 40%, transparent);
  // background-color: #c1c1c1;
  -webkit-box-shadow: 0px 0px 33px 9px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 33px 9px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 33px 9px rgba(0,0,0,0.6);

  &:after{
    border-top: 1px solid #837A7b;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    -webkit-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 30px 3px rgba(0,0,0,0.5);
    content: "";
    height: 70px;
    width: 100px;
    background: linear-gradient(to top, #454347, #343235);
    left: 50%;
    margin-left:-50px;
    position: absolute;
    bottom: -25px;
    z-index: 1;
  }
}

#inner-wrapper{
  position: relative;
  // background-color: #2b2a30;
  background: linear-gradient(to top, #2b2a30 40%, transparent);
  // margin: -15px;
  .row{
    margin: 0;
  }
  &:after{
    border-top: 1px solid #59253B;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    content: "";
    height: 70px;
    width: 100px;
    background: #59253B;
    left: 50%;
    margin-left:-50px;
    position: absolute;
    bottom: -25px;
    z-index: 1;
  }
}
#moto {
  padding: 100px 70px;
  h1{
    font-size: 50px;//franklin gothic
    text-align: center;
    font-weight: bold;
  }
  p{
    text-align: center;
    &.lead{
      font-family: $font-stack-logo;
      margin:10px auto 30px;
    }
  }
}

#header {
  padding-left: 60px;
  padding-bottom: 70px;
  h1{
    text-align: right;
    font-size: 30px;
    line-height: 25px;
    color: #989898;
  }
  p{
    text-align: right;
    margin: 30px auto;
  }
}

#team {
  padding-right: 60px;
  padding-bottom: 70px;
  h1{
    // text-align: left;
    font-size: 30px;
    line-height: 25px;
    color: #989898;
    margin: 0 0 50px;
  }
  .media{
    margin: 0 0 30px;
    h5{
      font-size: 16px;
    }
    h6{
      font-size: 15px;
    }
    p{
      font-size: 14px;
    }
  }
  img{
    width: 125px;
  }
}

section#services{
  position: relative;
  padding: 60px 15px 50px;
  background: #59253B;
  &:after{
    border-top: 1px solid #563D7C;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    content: "";
    height: 70px;
    width: 100px;
    background: #563D7C;
    left: 50%;
    margin-left:-50px;
    position: absolute;
    bottom: -25px;
    z-index: 1;
  }
  h3{
    text-align: center;
    // color: #2b2a30;
    margin: 0 0 20px;
  }
  .row{
    margin-bottom: 20px;
  }
  .card{
    background: #79244D;
    padding: 20px 6px;
    text-align: center;
  }

}

section#pricing{
  position: relative;
  padding: 60px 15px 80px;
  background: #563D7C;
  &:after{
    border-top: 1px solid #837A7b;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    content: "";
    height: 70px;
    width: 100px;
    background: #C1C1C1;
    left: 50%;
    margin-left:-50px;
    position: absolute;
    bottom: -25px;
    z-index: 1;
  }
  .columns {
    // float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    margin: 2px;
}

.price .header {
    background-color: #DB4B4B;
    border-top-left-radius:50px;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
}

.price .footer{
  border-bottom-right-radius: 50px;
  border-bottom: none;
  background-color: #DB4B4B;
}

.price .grey {
    background-color: #40515B;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
}

section#work{
  padding: 60px 0 50px;
  h3{
    text-align: center;
    color: #2b2a30;
    margin: 0 0 20px;
  }

  .btn-outline-primary{
    width: 138px;
    border-color: #2b2a30;
    color: #2b2a30;

    &:hover{
      background-color: #fb5255;
    }
  }

  #gallery {
    padding: 40px 70px;
    .col-sm-6{
      padding: 0;
    }
  }

  /* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


}



.footer-div {
  h3{
    margin-top: 100px;
    text-align: center;
    color: #989898;
  }
  .form-row{
    padding: 40px 70px 15px;

    .form-group{
      margin-bottom: 6px;
    }

    input[type="text"], textarea {
      background-color: #47434C;
      color: #c1c1c1;
      border-color: #47434C;
    }
    textarea {
      resize: none;
    }

    input[type="text"]{
      line-height: 1.8;
    }

  }

  .footer p{
    margin: 40px auto 5px;
    text-align: center;
    color: #989898;
  }
}

@import "./responsive.scss";
